<app-nav-bar></app-nav-bar>
<div class="user-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <form [formGroup]="userForm">
          <div class="row">
            <div class="col-md-12 offset-md-2">
              <div class="form">
                <div class="form-area">
                  <div class="form-group">
                    <label for="inputNome">Nome:</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      placeholder="Nome"
                    />
                    <div
                      class="invalid-field"
                      *ngIf="
                        userForm.controls.name.invalid &&
                        userForm.controls.name.touched
                      "
                    >
                      Campo obrigatório. Por favor, informe um nome.
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputNome">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="email"
                      placeholder="nome@email.com"
                    />
                    <div
                      class="invalid-field"
                      *ngIf="
                        userForm.controls.email.invalid &&
                        userForm.controls.email.touched
                      "
                    >
                      Campo obrigatório. Por favor, informe um email válido.
                    </div>
                  </div>

                  <div class="button-register-edit">
                    <button
                      type="submit"
                      class="btn btn-danger"
                      (click)="onSubmit()"
                    >
                      {{ isEdit ? "Alterar" : "Salvar" }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
