<section class="user-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="section-title">Editar Usuário</div>
        <form [formGroup]="userForm" class="form-user">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputNome">Nome:</label>
              <input
                type="text"
                class="form-text"
                formControlName="name"
                id="name"
                placeholder="Nome"
              />

              <label for="inputNome">Email:</label>
              <input
                type="text"
                class="form-text"
                formControlName="email"
                id="email"
                placeholder="nome@email.com"
              />
            </div>

            <div class="register">
              <button
                *ngIf="!error; else loading"
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit()"
              >
                {{ isEdit ? "Alterar" : "Salvar" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="error" *ngIf="error">
    Erro ao adicionar usuário. Tente novamente mais tarde.
  </div>
</ng-template>
