<div class="annotations">
  <div *ngFor="let annotation of annotations">
    <!-- <div class="annotation-idBird">
      {{ annotation.bird.namePtbr }}
    </div> -->
    <div class="annotation-date">
      {{ annotation.date }}
    </div>
    <div class="annotation-place">
      {{ annotation.place }}
    </div>

    <div class="delete">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="deleteAnnotation(annotation)"
      >
        Excluir
      </button>
    </div>
  </div>
</div>
