.navbar-custom  {
  //  background-color: chocolate;
    background: -webkit-linear-gradient(60deg,  chocolate, rgb(233, 98, 98), chocolate);

    .navbar-nav {
        font-style: italic;
        font-size: larger;
    }
}


