<app-nav-bar></app-nav-bar>
<div class="annotation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="section-title">Anotações</div>
        <form [formGroup]="annotationForm">
          <div class="form">
            <div class="form-group col-md-8">
              <label for="inputBird">Ave*: </label>
              <select
                (onChange)="onChangeBirds($event)"
                class="form-control"
                id="bird"
                (selectionChange)="listBirds()"
                class="form-control"
              >
                <option value="" selected>Selecione....</option>
                <option *ngFor="let bird of birds" [value]="bird.namePtbr">
                  {{ bird.namePtbr }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <div class="form-control col-md-3">
                <label for="inputData">Data:</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  formControlName="date"
                  id="data"
                />
              </div>
            </div>
            <!-- <label for="inputNome">Data*:</label>
              <input
                type="text"
                class="form-text"
                formControlName="date"
                id="date"
                placeholder="Data"
                [ngClass]="{
                  invalid: annotationForm.controls.place.invalid
                }"
              /> -->
            <label for="inputNome">Local*:</label>
            <input
              type="text"
              class="form-control"
              formControlName="place"
              id="place"
              placeholder="Local"
              [ngClass]="{
                invalid: annotationForm.controls.place.invalid
              }"
            />
            <div
              class="invalid-field"
              *ngIf="
                annotationForm.controls.place.invalid &&
                annotationForm.controls.place.touched
              "
            >
              Campo obrigatório. Por favor, informe um local.
            </div>
          </div>
          <div class="register">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">
              {{ isEdit ? "Alterar" : "Salvar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
