<section class="annotation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="section-title">Cadastro de Anotações</div>
        <form [formGroup]="annotationForm" class="form-annotation">
          <div class="form-row">
            <div class="form-group col-md-8">
              <!-- <label for="inputUnidade">Ave*: </label>
              <select
                (change)="submit()"
                formControlName="bird"
                id="bird"
                (selectionChange)="getSelectedUnidade()"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    annotationForm.get('bird').touched &&
                    annotationForm.get('bird').invalid
                }"
                required
              >
                <option value="" selected>Selecione....</option>
                <option *ngFor="let bird of birds" [value]="bird.idBird">
                  {{ bird.name }}
                </option>
              </select> -->
              <!-- <label for="inputNome">Data*:</label>
              <input
                type="text"
                class="form-text"
                formControlName="date"
                id="date"
                placeholder="Data"
                [ngClass]="{
                  invalid: annotationForm.controls.place.invalid
                }"
              /> -->
              <label for="inputNome">Local*:</label>
              <input
                type="text"
                class="form-text"
                formControlName="place"
                id="place"
                placeholder="Local"
                [ngClass]="{
                  invalid: annotationForm.controls.place.invalid
                }"
              />
              <div
                class="invalid-field"
                *ngIf="
                  annotationForm.controls.place.invalid &&
                  annotationForm.controls.place.touched
                "
              >
                Campo obrigatório. Por favor, informe um local.
              </div>
            </div>
            <div class="register">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit()"
                [disabled]="annotationForm.invalid"
              >
                {{ isEdit ? "Alterar" : "Salvar" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
