.section-title {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 50px;
    color: rgb(69, 78, 88);
}

.form {
    min-height: 22rem;

    .form-group {
        margin-bottom: 2.88rem;
        width: 65%;
    }
}

.button-register-edit {
    margin-left: 7rem;

    .btn {
        padding: 0.45rem 1.25rem;
        width: 200px;
    
    }
}