<div class="birds">
  <div *ngFor="let bird of birds">
    <div class="bird-namePtbr">
      {{ bird.namePtbr }}
    </div>
    <div class="bird-nameEnglish">
      {{ bird.nameEnglish }}
    </div>
    <div class="bird-nameLatin">
      {{ bird.namePtbr }}
    </div>
    <div class="bird-size">
      {{ bird.size }}
    </div>
    <div class="bird-genre">
      {{ bird.genre }}
    </div>
    <div class="bird-color">
      {{ bird.color }}
    </div>
    <div class="bird-family">
      {{ bird.family }}
    </div>
    <div class="bird-habitat">
      {{ bird.habitat }}
    </div>
  </div>
</div>
